* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
}

.nav__responsive-ul{
    display: none;
}

.nav {
    background-color: darkslateblue;
}

.nav__li {
    display: inline-block;
    padding: 12px;
    color: #fff;
}
/*el li es todo el bloque, eso es lo que editamos justo este esta sección*/

/*El display inline block hace que los elementos se pongan uno aun lado del otro
respetando el espacio de cada uno de ellos */


.nav__li a{
    color: #fff;
    text-decoration: none;
}

.nav__li:hover > a {
    color: #ccc;
}

/*el A es la letra*/

.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.nav__li:hover > i {
    color: #ccc;
}
/*el I es el icono*/

